@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter-italic;
    src: url(../fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter-bold;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter-semibold;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}
:root {
    --grey : #212121; 
    --mediumgrey: #212429;
    --darkgrey : #616161;

}
html{
    scroll-behavior: smooth;
}
body {
    color: var(--grey);
    font-family: "Roboto", sans-serif;
    margin: 0;
}
hr{
    color: var(--darkgrey);
    margin: 64px 0;
}
.hero{
    background-image: linear-gradient(to top, rgba(255,255,255,0.3), transparent), url('img/pattern.png');
    background-size: contain;
    block-size: 125px;
    padding: 0;
}
a {
    color:var(--grey);
}
.header-content{
    padding-inline: 20px;
}
header {
    margin-block-start: 45px;
    font-size: 14px;
    color: var(--white);
}
header a{
    text-decoration: none;
    color: var(--mediumwhite);
}
header li{
    color: var(--mediumwhite);
    margin-block-end: 16px;
}
nav details summary {
   font-weight: bold;
}

header a:hover {
    color: var(--grey);
}

h1 {
    font-size: 26px;
    margin-block-start: 64px;
    margin-inline-end: 20px;
    font-weight: normal;
}
.main{
    background-color: white;
}
.wrapper{
max-inline-size: 902px;
margin: auto;
padding-inline-start: 15px;
padding-inline-end: 15px;
}
.main-content{
 background-color: white;
}
h2 {
    font-size: 2em;
    margin-block: 40px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin-block: 16px;
    position: relative;
}

pre{
    background-color: #FEC62E;
    padding: 40px;
    font-family: "nunito", sans-serif;
    overflow: auto;
}
blockquote{
    margin: 32px 0;
    padding-left: 16px;
    border-left: 4px solid var(--mediumgrey);
    line-height: 24px;
}
blockquote span{
    color: var(--darkgrey);
}
blockquote span::before{
    content: '- ';
}
.section-content{
    counter-reset: titleList;
    margin-top: 32px;
}
.section-content:first-of-type{
    margin-top: 0;
}
.section-content + hr{
    display: none;
}
.section-content h3{
    counter-increment: titleList;
    padding-bottom: 8px;

}
.section-content ol li{
    line-height: 24px;
}
.section-content ul li{
    margin-bottom: 16px;
}
.section-content img{
    margin-top: 40px;
    margin-bottom: 24px;
    display: block;
    max-inline-size: 100%;
}
.section-content h3::before{
content: counter(titleList, decimal) '. ';
}
/* #Google-Chrome, #visual-studio, #figma, #github, #queeshtml, #etiquetas, #dom, #semantica, #atributos, #queescss{
    display: inline;
    border-bottom: 4px solid var(--grey);   
    margin-bottom: 24px;
} */
.enumerados h3{
    display: inline;
    border-bottom: 4px solid var(--grey); 
}
.enumerados p{
    margin-top: 24px;
}
/* .section-content h3::after{
content: '';
width:100px;
height: 4px;
background-color: var(--darkgrey);
display: inline-block;
position: absolute;
left: 0;
bottom: 0;
} */
.debug {
    box-shadow: inset 0 0 0 1px red;
    outline: 1px solid red;
    background-color: red;
}

.slider-container{
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list{
    text-align: center;
    margin-block-start: 16px;
    /* background-color: red; */
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: var(--mediumgrey);
    border-radius: 50%;
}
.form input{
    inline-size: 100%;
    border: 1px solid var(--grey);
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}
.form input[type="submit"]{
    background-color: #151EFB;
    color: var(--white);
}
.form input::-webkit-input-placeholder{
    color: var(--mediumwhite);
}
@media screen and (min-width: 1366px){
    .hero{
        block-size: 350px;
    }
    header {
        font-size: 14px;
        color: var(--white);
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -232px;
        inline-size: 188px;
    
    }
    header a{
        text-decoration: none;
        color: var(--mediumwhite);
    }
    header li{
        color: var(--mediumwhite);
        margin-block-end: 16px;
    }
    header a:hover {
        color: var(--white);
    }
    .header{
        position: sticky;
        inset-block-start: -45px;
    }
    .header-content{
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    h1 {
        font-size: 60px;
        margin-inline-end: 16px;
    }
}